{% load static %}
<head>
  <meta charset="utf-8">
</head>
<script src={% static 'tasks/task-js.js' %}></script>
<b>Задачи по категориям</b>

{% for cat in category_list %}
        <ul>{{ cat.category_name }}</ul>
    {% for task in latest_task_list %}Гараж
        {% if task.category == cat %}
<li><a href="/tasks/{{ task.id }}/">{{ task.task_text }}</a></li>
            {% for place in task.places.all %}
                {{ place }} ,
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}




  <b>Задачи по Местам (сортировка)</b>
<ul>
{% for place in place_list %}
    <ul>{{ place }}</ul>
    {% for task in latest_task_list %}
<!--        {{ task }}-->
<!--        {{ task.places.all }}-->
        {% for pl in task.places.all %}
<!--            {{ task }}-->
<!--            {{ pl }}-->
            {% if pl == place %}
                <li>{{ task.task_text }}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
</ul>

<form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

